.menuMotoList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.form {
    padding-bottom: 20px;
}

.formInput {
    border: 1px solid grey;
    padding: 5px;
    width: 150px;
}